MULE_WRKSPCE/RestConsumePoc/src/main/app/restauthpoc3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <http:endpoint exchange-pattern="request-response"    method="GET" name="HTTP5" doc:name="HTTP5" address="" />
    <data-mapper:config name="JSON_To_Pojo4" transformationGraphPath="json_to_pojo_2.grf" doc:name="JSON_To_Pojo4"/>
    <flow name="restAuthFlow3" doc:name="restAuthFlow3">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8082" path="gram" doc:name="HTTP"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vm-example4" doc:name="VM4"/>
    </flow>
    <flow name="restAuthPOCFlow3" doc:name="restAuthPOCFlow3">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vm-example4" doc:name="VM4"/>
        <logger message="payload is: #[payload]" level="INFO" doc:name="Logger" />
		<https:outbound-endpoint exchange-pattern="request-response"
			method="GET"  doc:name="HTTP5" ref="HTTP5" doc:description="none ">
			<set-property propertyName="Accept" value="application/json" />
		<message-properties-transformer
        scope="outbound">
        <add-message-property key="X-AUTH-TOKEN"
            value="" />
        </message-properties-transformer>
		</https:outbound-endpoint>
        <echo-component doc:name="Echo1"/>
        <data-mapper:transform config-ref="JSON_To_Pojo4" doc:name="JSON To Pojo4"/>
        <component class="com.sbakka.Impl.TestRestObjectImpl" doc:name="Java"/>
        <set-payload value="#[payload] " doc:name="Set Payload"/>
        <http:response-builder status="200" contentType="text/html" doc:name="HTTP Response Builder">
            <http:expires value="Thu, 15 Jul 2015 11:21:37 GMT"/>
        </http:response-builder>

		
    </flow>
</mule>
