MULE_WRKSPCE/hello-world/src/main/app/HelloWorld.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" version="EE-3.5.2"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow doc:name="HelloWorldFlow1" name="HelloWorldFlow1">
		<http:inbound-endpoint doc:description="This endpoint receives an HTTP message."
			doc:name="HTTP" exchange-pattern="request-response" host="localhost"
			port="8089" path="hello" />
		<set-payload value="Hello World" doc:name="Setting Payload"
			doc:description="This processor sets the payload of the message to the string 'Hello World'." />
		<foreach collection="#[payload]" batchSize="10" doc:name="For Each">
			<logger message="Counter number: #[counter] " level="INFO"
				doc:name="Logger" />
		</foreach>
		<echo-component doc:name="Echo" />
	</flow>
	<flow name="stackoverflowFlow1" doc:name="stackoverflowFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8089" path="world" doc:name="HTTP"/>

		<set-variable variableName="#['counter']" value="#[0]"
			doc:name="Variable" />
		<flow-ref name="stackoverflowFlow2" doc:name="Flow Reference" />
	</flow>
	<flow name="stackoverflowFlow2" doc:name="stackoverflowFlow2">
		<logger level="INFO" doc:name="Logger" />
		<set-variable variableName="counter" value="#[flowVars['counter']+1]"
			doc:name="Variable" />
		<choice doc:name="Choice">
			<when expression="#[flowVars['counter']==10]">
				<logger level="INFO" doc:name="Logger" message="Reached the counter max limit #[flowVars['counter']]"/>
			</when>
			<otherwise>
				<flow-ref name="stackoverflowFlow2" doc:name="Flow Reference" />
			</otherwise>
		</choice>
	</flow>
</mule>